<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>科室管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--/表示static目录-->
    <link rel="stylesheet" href="/css/topNav.css"  media="all">
    <link rel="stylesheet" href="/css/personalCenter.css"  media="all">
    <link rel="stylesheet" href="/js/layui/css/layui.css"  media="all">
    <script src="/js/layui/layui.js" charset="utf-8"></script>
    <script src="/publicJs/jquery.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
</head>
<body>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!--

<head th:fragment='list_static'>   // 代码片段
<div th:replace="layout/list_static :: list_static"></div>    // 引入代码片段  格式=文件路径 :: 代码片段


-->

<div th:replace="layout/public_nav :: public_nav" id="test">11</div>
<div class="personalConent" id="personalConent">
    <div class="leftNavBox">
        <div th:replace="layout/left_nav :: left_nav" id="left_nav">11</div>
    </div>
    <div class="rightConent">
        <div class="editorBox">
            <input type="text" id="title" name="title" placeholder="请输入标题" autocomplete="off" class="layui-input">
            <textarea id="demo" style="display: none;"></textarea>
        </div>
        <button type="button" class="layui-btn" id="publish">发布</button>
    </div>
</div>


<script>

    var windowHeight = document.documentElement.clientHeight || document.body.clientHeight;
    layui.use('layedit', function(){
        var layedit = layui.layedit;
        layedit.set({
            uploadImage: {
                url: '/news/newsUploadPicture' //接口url
            }
        });
        //注意：layedit.set 一定要放在 build 前面，否则配置全局接口将无效。
        var index = layedit.build('demo',{
            height:windowHeight - 250,
        }); //建立编辑器
        var isUpdate = window.location.href.indexOf('?id=')//>-1是修改，否则是新增
        if(isUpdate > -1){
            var newInfo = JSON.parse(sessionStorage.getItem("newInfo"))
            console.log(newInfo)
            $('#title').val(newInfo.partName)
            layedit.setContent(index, newInfo.article);
        }
        $('#publish').on('click', function(){
            console.log(123)
            var content = layedit.getContent(index)
            var title = $('#title').val()
            console.log(content,title)
            var data = {
                partName:title,
                article:content,
            }
            // for(var key in data){
            //     if(!data[key]) {
            //         console.log(key)
            //         layui.use('layer', function() { //独立版的layer无需执行这一句
            //             var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
            //
            //             layer.msg('标题或内容不能为空', {
            //                 time: 20000, //20s后自动关闭
            //                 btn: ['知道了']
            //             });
            //         })
            //         return;
            //     }
            // }
            // return
            if(isUpdate > -1) {
                data.partId = newInfo.partId
                updateSave(data)
            }else {
                addSave(data)
            }

        });
    });

    function addSave(data){
        $.ajax({
            type: "post",
            url: "/part/addPart",
            dataType: 'json',
            data:data,
            success:function(msg){
                console.log(msg)
                if(msg.code == 200) {
                    window.location.href = '/personal/roomManage'
                }
            },
        })

    }
    function updateSave(data){
        $.ajax({
            type: "post",
            url: "/part/updatePart",
            dataType: 'json',
            data:data,
            success:function(msg){
                console.log(msg)
                if(msg.code == 200) {
                    window.location.href = '/personal/roomManage'
                }
            },
        })

    }
</script>

<script src="/publicJS/NavRoom.js"></script>

<script src="/publicJS/personalConentHeight.js"></script>

<script src="/publicJS/NavSelect.js"></script>
</body>
</html>