<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>人员管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--/表示static目录-->
    <link rel="stylesheet" href="/css/topNav.css"  media="all">
    <link rel="stylesheet" href="/css/personalCenter.css"  media="all">
    <link rel="stylesheet" href="/js/layui/css/layui.css"  media="all">
    <script src="/js/layui/layui.js" charset="utf-8"></script>
    <script src="/publicJs/jquery.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
</head>
<body>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<div th:replace="layout/public_nav :: public_nav" id="test">11</div>

<div class="personalConent" id="personalConent">
    <div class="leftNavBox">
        <div th:replace="layout/left_nav :: left_nav" id="left_nav">11</div>
    </div>
    <div class="rightConent">
        <form class="layui-form" action="" lay-filter="addModelForm">
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入标题" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <select name="sex" lay-filter="sex">
                        <option value="1">男</option>
                        <option value="0">女</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">工号</label>
                <div class="layui-input-block">
                    <input type="text" name="jobNumber" lay-verify="required" autocomplete="off" placeholder="请输入标题" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">职务</label>
                <div class="layui-input-block">
                    <select name="position" lay-filter="position">
                        <option value="职务一">职务一</option>
                        <option value="职务二">职务二</option>
                        <option value="职务三">职务三</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">角色</label>
                <div class="layui-input-block">
                    <select name="roleId" lay-filter="roleId">
                        <option value="2">普通用户</option>
                        <option value="3">新闻管理员</option>
                        <option value="1">管理员</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <!--<button type="button" class="layui-btn layui-btn-normal" id="LAY-component-form-setval">赋值</button>-->
                    <!--<button type="button" class="layui-btn layui-btn-normal" id="LAY-component-form-getval">取值</button>-->
                    <button type="button" class="layui-btn" lay-submit="" id="updateSave">确定</button>
                    <button type="button" class="layui-btn" lay-submit="" id="updateModelClose">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/publicJS/NavRoom.js"></script>

<script src="/publicJS/personalConentHeight.js"></script>

<script src="/publicJS/NavSelect.js"></script>

<script type="text/javascript" th:inline="JavaScript">
    var form
    layui.use(['form', 'layedit', 'laydate'], function(){
        form = layui.form
        var layer = layui.layer
        var layedit = layui.layedit
        var laydate = layui.laydate;
        form.render()
        //
        //------------
        var isUpdate = window.location.href.indexOf('?id=')//>-1是修改，否则是新增
        if(isUpdate > -1){
            var newInfo = JSON.parse(sessionStorage.getItem("personManageInfo"))
            console.log(newInfo)
            form.val('addModelForm', {
                'name':newInfo.name,
                'sex':newInfo.sex,
                'jobNumber':newInfo.jobNumber,
                'position':newInfo.position,
                'roleId':newInfo.userRole.roleId,
            });
        }
        //--------------
        //
        //表单赋值
        layui.$('#LAY-component-form-setval').on('click', function(){
            form.val('addModelForm', {
                "title": "贤心" // "name": "value"
                ,"article": "123456"
            });
        });

        //表单取值
        layui.$('#LAY-component-form-getval').on('click', function(){
            var data = form.val('addModelForm');
            alert(JSON.stringify(data));
        });
        //确定按钮
        layui.$('#updateSave').on('click', function(){
            var data = form.val('addModelForm');
            // data.email = ''
            // data.phone = ''
            data.status = 1
            data.id = newInfo.id
            for(var key in data){
                if(!data[key]) {
                    return;
                }
            }
            // alert(JSON.stringify(data));
            updateSave(data)
        });
        layui.$('#updateModelClose').on('click', function(){
            window.location.href = '/personal/personManage'
        });
    });

    function updateSave(data){
        $.ajax({
            type: "post",
            url: "/user/updateUserInfo",
            dataType: 'json',
            data:data,
            success:function(msg){
                console.log(msg)
                if(msg.code == 200) {
                    window.location.href = '/personal/personManage'
                }
            },
        })

    }
</script>

</body>
</html>