.layui-card .layui-card-header {
    position: relative;
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
    border-bottom: 1px solid #c4c4c4;
    color: #333;
    border-radius: 2px 2px 0 0;
    font-size: 14px;
    /*background-image: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 100%)!important;*/
    background-color: #ececec;
}
.layui-card {
    background-color: #fff;
    border: 1px solid #c4c4c4!important;
    margin-bottom: 0px!important;
}
