<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--/表示static目录-->
    <link rel="stylesheet" href="/css/login.css"  media="all">
    <link rel="stylesheet" href="/css/topNav.css"  media="all">
    <link rel="stylesheet" href="/js/layui/css/layui.css"  media="all">
    <script src="/js/layui/layui.js" charset="utf-8"></script>
    <script src="/publicJs/jquery.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
</head>
<body>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!--

<head th:fragment='list_static'>   // 代码片段
<div th:replace="layout/list_static :: list_static"></div>    // 引入代码片段  格式=文件路径 :: 代码片段


-->

<div th:replace="layout/public_nav :: public_nav" id="test">11</div>
<div class="login">
    <div class="message">Angela 1.0-作业管理系统</div>
    <div id="darkbannerwrap"></div>

    <form method="post" class="layui-form" lay-filter="loginForm">
        <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
        <hr class="hr15">
        <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
        <hr class="hr15">
        <input class="loginin" value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20" >
    </form>
</div>
<script>
    layui.use(['form'], function(){
        var form = layui.form
        form.val('loginForm',{
            "username": "123456"
            ,"password": "123456"
        })
        //监听提交
        form.on('submit(login)', function(data){
            console.log(data)
            $.ajax({
                type: 'post',
                url: "/user/userLogin",
                data: data.field,
                success: function (res) {
                    if (res.code == 200) {
                        layer.close(layer.index);
                        sessionStorage.setItem('userInfo', JSON.stringify(res.data));
                        window.location.href='/index'
                    } else {
                        layer.alert(res.msg, {icon: 5}, function () {
                        });
                    }
                }
            });
            return false;
        });
    });
</script>


<script src="/publicJS/NavRoom.js"></script>

<script src="/publicJS/NavSelect.js"></script>
</body>
</html>